[submodule "lsquic-tests/boringssl"]
	path = lsquic-tests/boringssl
	url = https://github.com/google/boringssl
[submodule "lsquic-tests/lsquic"]
	path = lsquic-tests/lsquic
	url = https://github.com/litespeedtech/lsquic
