*.idea/
*.iml

# crypto-tests
crypto-tests/rust-ct/target
crypto-tests/rust-ct/Cargo.lock
crypto-tests/rust-ct/criterion

# lsquic-tests
lsquic-tests/cmake-build-debug
lsquic-tests/cmake_install.cmake
lsquic-tests/CMakeCache.txt
lsquic-tests/echo_client
lsquic-tests/echo_server
lsquic-tests/lsquic_tests.cbp
lsquic-tests/Makefile
lsquic-tests/test_config.h
lsquic-tests/CMakeFiles
lsquic-tests/*.keys

# quiche-tests
quiche-tests/*.log

# tls-tests
tls-tests/client

# udp-tests
udp-tests/main

# tcp-tests
tcp-tests/target

